/* ====================== DESKTOP ====================== */

@media only screen and (min-width: 768px) {

  #banner {
    background-repeat: repeat;
  }

  .section-hook .divider:before {
    top: 80%;
  }

  .divider:before {
    width: 20%;
  }

  .image-carousel .carousel-content img,
  .image-carousel {
    height: 400px;
  }

  .image-carousel .arrow {
    line-height: 400px;
  }

  .season {
    width: 50%;
    float: left;
  }


  #footer {
    font-size: 8pt;
  }

} /* END DESKTOP */

/* ipad */
@media only screen and (min-width: 580px) {

  .section-hook .divider:before {
    top: 82%;
  }

  header div {
    padding: 1em 2em;
  }

}
