/* ====================== DESKTOP ====================== */

@media only screen and (min-width: 896px) {

  #banner {
    background-repeat: repeat;
  }

  .image-carousel .carousel-content img,
  .image-carousel {
    height: 400px;
  }

  .image-carousel .arrow {
    line-height: 400px;
  }

  .season {
    width: 50%;
    float: left;
  }


  #footer {
    font-size: 8pt;
  }

} /* END DESKTOP */
