*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
td,
th,
p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  color: #1e0707;
}

body {
  background-color: #fdfdfd;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#main {
  background: #eee;
}

#main-content {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0680cd;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3a5fe5;
  text-decoration: underline;
}

img, embed, object, video {
  max-width: 100%;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

h1 {
  font-family: 'impact', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 33px;
}

h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #262626;
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #6e6f71;
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #001a57;
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #98999b;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* ====================== Accessibility ====================== */

label {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
}


/* ====================== Header / Navigation ====================== */

header {
  width: 100%;
  min-height: 56px;
  text-align: center;
}

header div {
  background-color: #000;
  padding: 1em;
}

header h1 {
  margin: auto;
  text-align: left;
}

header h1 a {
  color: #fff;
  font-weight: 200;
}

#main-nav {
  position: absolute;
  left: 0;
  margin: 25px;
}

a.nav-item {
  display: block;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-top: 12px;
}

#banner {
  height: 55vh;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.st-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
  width: 150px;
}
